SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/bin/systemctl start power-switch.service"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/bin/systemctl start power-switch.service"