# Trigger power-switch.service on AC plug/unplug events
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="?*", RUN+="/bin/systemctl start power-switch.service"
